#todo-list-container {
  background: #ddd;
  margin: auto;
  width: 50%;
  border-radius: 8px;
}

#todo-list-title {
  text-align: center;
  padding-top: 10px;
}

#todo-list {
  width: 75%;
  margin: auto;
  padding-bottom: 20px;
}
