:root {
    --header-padding: 25px;
}

body {
    font-family: "Caveat", cursive;
    font-family: "Roboto", sans-serif;
    color: black;
    background-color: #f5f5f5;
}

#app-header {
    text-align: center;
    background-color: moccasin;
    padding-top: var(--header-padding);
    padding-bottom: var(--header-padding);
    border-radius: 8px;
    width: 50%;
    margin: auto;
    margin-top: 25px;
}
